:root{
    --electric: rgb(247, 232, 31);
    --water : rgb(31, 125, 247);
    --poison : rgb(84, 112, 84);
    --grass : rgb(94, 231, 94);
    --rock : rgb(90, 63, 6);
    --ghost : rgb(131, 91, 224);
    --fire : rgb(255, 134, 21);    
    --ground:rgb(136, 109, 78);
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./img/fondpoke.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section {
    width: 85%; 
    height: 890px;
    padding: 15px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

#vermas{
    display: none;

}
#volverInicio{
    display: none;
    position: relative;
}
.contendor{
    width: 100%;
    height: 100%;
    background-color: rgb(  206, 17, 49  );
    border-radius: 50px 0 50px 50px;
    box-shadow: -18px 8px 0px 5px rgb(149, 24, 40);
    display: flex;
    align-items: center;
    position: relative;
}

/* circulos de colores */
.contendor .colores{
    top: 20px;
    left: 30px;
    position: absolute;
    /* border: 1px solid ; */
    display: flex;
    gap: 8px;
    cursor: pointer;
}
.colores div{
    border-radius: 50%;
}
.colores .azul{
    width: 95px;
    height: 95px;
    box-shadow: -2.5px 5px 0 11px #ffff;
}
.colores .azul div{
    width: 75px;
    height: 75px;
    margin-left:7px ;
    background-color: rgb(1, 205, 255 );
    box-shadow: 2px 10px 0 11px rgb(0, 155, 211 );
    position: relative;
}
.azul div::before{
    content:  "";
    height: 25px;
    width: 25px;
    position: absolute;
    top: 15px;
    left: 25px;
    background-color: rgb(156, 232, 255);
    border-radius: 50%;
}
.rojo div,
.amarillo div,
.verde div{
    width: 28px;
    height: 28px;
    margin-left: 6px;
    margin-top: 4px;
    position: relative;
}
.rojo div::before,
.amarillo div::before,
.verde div::before{
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    left: 6px;
    background-color: rgba(238, 235, 235, 0.7);
    border-radius: 50%;
}
.colores .rojo{
    width: 45px;
    height: 45px;
    background-color: rgb(255, 0, 43);
}
.rojo div{
    background-color: rgb(255, 0, 43);
    box-shadow: 4px 6px 0 6px rgb(129, 10, 30);
}

.colores .amarillo{
    width: 45px;
    height: 45px;
    background-color: rgb(226, 230, 21);
}
.amarillo div{
    background-color: rgb(226, 230, 21);
    box-shadow: 4px 6px 0 6px rgb(128, 132, 11 );
}
.colores .verde{
    width: 45px;
    height: 45px;
    background-color: rgb(8, 142, 14);
}
.verde div{
    background-color: rgb(8, 142, 14);
    box-shadow: 4px 6px 0 6px rgb(11, 104, 16);
}

.contendor .diseño{
    width: 85%;
    height: 100%;
    background-color: rgb(129, 10, 30);
    border-radius: 50px 0 50px 50px;
    clip-path: polygon(70% 10%, 100% 10%,100% 100%, 0% 100%, 0 21%, 1% 20%,47% 20%,49% 19.5%,50% 19%, 67% 11%);
    position: relative;
    z-index: 1;
}
.contendor .diseño::before{
    content: " ";
    position: absolute;
    margin-top: auto;
    width: 100%;
    height: 97%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(206, 17, 49);  
    clip-path: polygon(70% 10%, 100% 10%,100% 100%, 0% 100%, 0 21%, 1% 20%,47% 20%,49% 19.5%,50% 19%, 67% 11%);
    border-radius: 50px 0 50px 50px;
    z-index: -2;
}

/* Contenedor de en medio */
.medio{
    margin-top: auto;
    height: 90%;
    width: 12%;
    background-color: rgb( 206, 17, 49 );
    border-radius: 15px 15px 30px 30px ;
    margin-top: auto;
    border: 2px solid rgb( 117, 10, 30);
}
.medio .uno{
    width: 100%;
    height: 80px;
}
.medio .dos{
    height: 20px;
    border-top:2px solid rgb( 117, 10, 30);
    border-radius:-100px;
}
.medio .tres{
    height: 70%;
    border-top:2px solid rgb( 117, 10, 30);
}
.medio .cuatro{
    height: 20px;
    border-top:2px solid rgb( 117, 10, 30);
    border-radius:-100px;
}
.medio .cinco{
    height: 20px;
    border-top:2px solid rgb( 117, 10, 30);
    border-radius:-100px;
}


/* contenedor del pokemon */
.contendor .pokemon{
    position: absolute;
    width: 95%;
    margin-top: 24px;
    margin-left: 20px;
    height:95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb( 189, 15, 52 );
    border: 2px solid rgb( 117, 10, 30);
    /* clip-path: polygon(80% 12.7%, 100% 12.7%,100% 100%, 0% 100%, 0 21%, 1% 20%,60% 21%, 60% 21%,60% 21%, 60% 21%); */
    clip-path: polygon(70% 10%, 100% 10%,100% 100%, 0% 100%, 0 21%, 1% 20%,47% 20%,49% 19.5%,50% 19%, 67% 11%);
    border-radius:0 0 0 50px;
}

/* Este es el contenedor que tiene las img y h2 */
.contendor .conte-imgen{
    margin-top: 200px;
    width: 420px;
    height: 350px;
    position: relative;  
    background-image: linear-gradient(40deg, transparent 10%,
    #696971 0% 100%, transparent 85%);
    border-radius: 10px;
}
.conte-imgen::before{
    content: " ";
    position: absolute;
    bottom: 8px;
    left:9px;
    top: -3px;
    right: 1px;
    background-image: linear-gradient(40deg, transparent 10%,
    #dedede 0% 100%, transparent 85%);
    border-radius: 10px;
}

/* Contendor que tiene img de pokemon */
.contendor .conte-imgen .imgen{
    width: 350px;
    height: 240px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    position: relative;   
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top:20px;
}
.conte-imgen h2{
    text-align: center;
}
.conte-imgen .imgen img{
    width: 220px;
    height: 200px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.contendor .conte-busca{
    margin-top: 10px;
}
.contendor .conte-busca input,
.contendor .conte-busca button{
    padding: 10px 12px;
}
.contendor .conte-busca input{
    width: 160px;
    outline: none;
    border-radius:5px ;
    background-color: rgb(94, 94, 94);
    color: #ffff;
    border: #000;
}
.contendor .conte-busca button{    
    width: 90px;
}


/* contenedor de controles */
.controles{
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;

}

.controles .botones .boton{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: rgb(20, 20, 20);
    box-shadow: -5px 2px 0px 3px rgb(35, 35, 35);
}


.controles .recuadros{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.controles .recuadros .color{
    display: flex;
    gap: 10px;
}
.controles .recuadros .rojo,
.controles .recuadros .azul{
    width: 125px;
    height: 20px;
    border-radius: 100px;
}
.controles .recuadros .rojo{
    background-color: rgb(224, 24, 30);
}
.controles .recuadros .azul{
    background-color: rgb( 9, 83, 120 );
}
.controles .recuadros .verde{    
    width: 200px;
    height: 80px;
    background-color: rgb(85, 171, 98);
    border-radius: 5px;
}





.control div{
    cursor: pointer;
}

.control .arriba,
.control .abajo,
.control .ambos .centro,
.control .ambos .izq,
.control .ambos .der{
    background-color: rgb(20, 20, 20);
}
.control .arriba,
.control .abajo{    
    width:35px;
    height:35px;
    margin: 0 auto;
    
}
.control .ambos{
    display: flex;
}
.control .ambos>div{
    width:35px;
    height:35px;
}

.control .ambos .centro div{
    border: 1px solid #ffff;
    border-radius: 100px;
    height: 35px;
    width: 35px;
}
.control .arriba{
    border-radius: 10px 10px 0px 0px ;
    box-shadow: -3px 7px 0px 6px rgb(35, 35, 35);
}
.control .abajo{
    border-radius: 0px 0px 10px 10px ;
    box-shadow: -3px -4px 0px 7px rgb(35, 35, 35);
}
.control .ambos .izq{
    border-radius: 10px 0px 0px 10px ;
    box-shadow: -6px 2px 0px 4px rgb(35, 35, 35);
}
.control .ambos .der{
    border-radius: 0px 10px 10px 0px ;
    box-shadow: 4px 1px 0px 3px rgb(35, 35, 35);

}
.control .ambos .izq:hover,
.control .ambos .der:hover{
    background-color: rgb(50, 50, 50);
}
.control div:hover{
    background-color: rgb(50, 50, 50);
}


/* Contendor de informacion sobre pokemon */


.conte-info .tipos div p,
.conte-info .habilidades div p{
    padding: 2px 4px;
    margin: 2px 2px;    
    background-color: rgb(222, 236, 245);;
}
.conte-info .habilidades div p{
    background-color: #cecece;
}
.conte-info .tipos,
.conte-info .habilidades{
    display: flex;
}

.info{
    width:85%;
    height: 85%;
    margin-top: auto;
    background-color: rgb(206, 17, 49);  
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 15px;
    clip-path: polygon(27% 0%, 30% 1%,48.5% 8%, 51% 9%, 100% 9%, 100% 100%, 0% 100%,0% 0%);
    border-radius:0 0 50px 0;
}

.conte-info{
    height: 98%;
    width: 99%;
    padding-top: 90px;
    background-color: rgb(149, 24, 40);
    clip-path: polygon(27% 0%, 30% 1%,48.5% 8%, 52% 9%, 100% 9%,100% 95%,   99% 96.9% , 95.5% 100%, 0% 100%,0% 0%);
    border-radius: 10px;
    position: relative;
}
.conte-info::before{
    content: "";
    position: absolute;
    margin-top: auto;
    width: 96%;
    height: 97%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(206, 17, 49);  
    border: 2px solid rgb(149, 24, 40);
    clip-path: polygon(27% 0%, 30% 1%,48.5% 8%, 52% 9%, 98% 9%,100% 10%, 100% 98.5% , 97.6% 100%, 0% 100%,0% 0%);
}
.conte-info .conte-tipos{
    width: 380px;
    height: 220px;
    padding: 15px;
    border-radius: 10px;
    background-color: #032d29;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 5px;
}
.conte-info .conte-tipos h2{
    font-size: 1.1rem;
    color:#ffec2b;
}
.conte-tipos .tipos div p{
    display: inline-block;
}
.conte-info .habilidades div p{
    display:inline-block;
}


/* contnedor de estados de poke (PH,ATK..) */
.conte-tipos .estados{
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    height: 100%;
    padding-bottom: 5px;
}
.conte-tipos .estados h2{
    font-size: 1rem;
}
.conte-tipos .estados div{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.conte-tipos .estados div div{
    width: 25px;
    border: 2px solid #ffff;
}



/* Contenedor de fotos de movimientos */
.conte-info .conte-movi {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.conte-info .conte-movi .movimientos{
    width: 380px;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(23, 143, 255);
    position: relative;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.conte-info .conte-movi .movimientos div{
    width:76px;
    height:75px;
    border: 1px solid rgb(4, 78, 148);
    overflow: hidden;
}
.conte-movi .movimientos img{
    width:80px;
    height:80px;
}

/* rayas debajo de fotos de movimientos */
.conte-movi .rayas{
    width: 100%;
    position: relative;
}
.conte-movi .rayas>div{
    width: 40%;
    margin-left: auto;
    margin-right:50px;
    display: flex;
    gap: 5px;
}
.conte-movi .rayas div div{
    height: 15px;
    width: 90px;
    border-radius: 20px;
    background-color: rgb(66, 66, 66);
}


/* Botones debajo de las rayas */
.conte-movi .botones{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    gap: 55px;
}
.conte-movi .botones .cuadrado{
    display: flex;
    width: 160px;
    border-radius: 5px;
    box-shadow: -4px 4px 0 4px rgb(156, 156, 156);
}
.conte-movi .botones .cuadrado div{
    width:80px;
    height: 50px;
    background-color: #dedede;

}
.conte-movi .botones .cuadrado .btn1{
    border-radius: 5px 0 0 5px;
    border-right: 2px solid rgb(156, 156, 156);
}
.conte-movi .botones .cuadrado .btn2{
    border-radius: 0 5px 5px 0;
}

.botones .redondo{
    width:35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(226, 230, 21);
    box-shadow: 4px 6px 0 6px rgb(128, 132, 11 );
}


/* Altura y peso de los pokemon */
.conte-movi .alt-pe{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 25px;
}
.conte-movi .alt-pe div{
    width: 26%;
    height: 40px;
    background-color: #032d29;
    padding: 10px 0 0 4px; 
    border-radius: 5px;
}
.conte-movi .alt-pe h2,
.conte-movi .alt-pe p{
    display: inline;
    color:#ffec2b;
    font-size: 1rem;
}






@media (min-width:0px) and (max-width:570px){
    .oculta{
        display: none;
    }
    .ver{
        display: block;
    }

    section{
        width: 100%;
        height: 800px;
        display: block;
        padding: 0;    
    }
    .contenedor{
        width: 100%;
    }
.colores .azul{
    width: 50px;
    height: 50px;
}
.colores .azul div{
    width: 30px;
    height: 30px;
}
.azul div::before{
    height: 15px;
    width: 15px;
    top: 5px;
    left: 10px;
}
.rojo div,
.amarillo div,
.verde div{
    width: 18px;
    height: 18px;
}
.rojo div::before,
.amarillo div::before,
.verde div::before{
    width: 10px;
    height: 10px;
}
.colores .rojo,
.colores .amarillo,
.colores .verde{
    width: 35px;
    height: 35px;
}

/* Contenedor de en medio */
.medio{
    width: 14%;
}


/* contenedor del pokemon */
.contendor .pokemon{
    position: relative;
    width: 95%;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: auto;
    height:85%;
}

/* Este es el contenedor que tiene las img y h2 */
.contendor .conte-imgen{
    margin-top: 150px;
    width: 280px;
    height: 240px;
    position: relative;  
}


/* Contendor que tiene img de pokemon */
.contendor .conte-imgen .imgen{
    width: 230px;
    height: 160px;
}

.conte-imgen .imgen img{
    width: 155px;
    height: 140px;
    padding-bottom: 5px;
}

.contendor .conte-busca input,
.contendor .conte-busca button{
    padding: 8px 12px;
}
.contendor .conte-busca input{
    width: 120px;
}
.contendor .conte-busca button{    
    width: 70px;
    font-size: .8rem;
}
/* ver mas info */
.conte-busca #vermas{
    display: block;
    width: 100px;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(28, 109, 214);
    border-radius: 5px;
}
.conte-busca div p{
    font-size: 1.1rem;
    text-align: center;
    padding: 5px 0;
}
.conte-busca div:hover{
    background-color: rgb(1, 72, 165);
}
/* contenedor de controles */
.controles{
    margin-top: 20px;
}

.controles .botones .boton{
    width: 45px;
    height: 45px;
}
.controles .recuadros .color{
    display: flex;
    gap: 10px;
}
.controles .recuadros .rojo,
.controles .recuadros .azul{
    width: 75px;
    height: 10px;
}

.controles .recuadros .verde{    
    width: 130px;
    height: 70px;
}


.control .arriba,
.control .abajo{    
    width:35px;
    height:35px;
    
}

.info{
    width:100%;
    height: 100%;
}


/* velver inicio*/
.conte-info  #volverInicio{
    display: block;
    width: 100px;
    margin-top: 10px;
    background-color: rgb(28, 109, 214);
    border-radius: 5px;
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
}
.conte-info  #volverInicio p{
    font-size: 1.1rem;
    text-align: center;
    padding: 5px 0;
}
.conte-info  #volverInicio:hover{
    background-color: rgb(1, 72, 165);
}

.conte-info .conte-tipos{
    width: 350px;
    height: 200px;
}


/* Contenedor de fotos de movimientos */

.conte-info .conte-movi .movimientos{
    width: 350px;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(23, 143, 255);
    position: relative;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.conte-info .conte-movi .movimientos div{
    width:70px;
    height:75px;
}
.conte-movi .movimientos img{
    width:75px;
    height:75px;
}

/* rayas debajo de fotos de movimientos */
.conte-movi .rayas{
    width: 100%;
    position: relative;
}
.conte-movi .rayas>div{
    width: 40%;
    margin-left: auto;
    margin-right:50px;
    display: flex;
    gap: 5px;
}

}

@media (min-width:572px) and (max-width:770px){

    section{
        width: 100%;
        height: 800px;
        padding: 0;    
    }
    .contenedor{
        width: 100%;
    }
.colores .azul{
    width: 50px;
    height: 50px;
}
.colores .azul div{
    width: 30px;
    height: 30px;
}
.azul div::before{
    height: 15px;
    width: 15px;
    top: 5px;
    left: 10px;
}
.rojo div,
.amarillo div,
.verde div{
    width: 18px;
    height: 18px;
}
.rojo div::before,
.amarillo div::before,
.verde div::before{
    width: 10px;
    height: 10px;
}
.colores .rojo,
.colores .amarillo,
.colores .verde{
    width: 35px;
    height: 35px;
}

/* Contenedor de en medio */
.medio{
    width: 14%;
}


/* contenedor del pokemon */
.contendor .pokemon{
    position: relative;
    width: 95%;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: auto;
    height:85%;
}

/* Este es el contenedor que tiene las img y h2 */
.contendor .conte-imgen{
    margin-top: 150px;
    width: 280px;
    height: 240px;
    position: relative;  
}


/* Contendor que tiene img de pokemon */
.contendor .conte-imgen .imgen{
    width: 230px;
    height: 160px;
}

.conte-imgen .imgen img{
    width: 155px;
    height: 140px;
    padding-bottom: 5px;
}

.contendor .conte-busca input,
.contendor .conte-busca button{
    padding: 8px 12px;
}
.contendor .conte-busca input{
    width: 120px;
}
.contendor .conte-busca button{    
    width: 70px;
    font-size: .8rem;
}



/* contenedor de controles */
.controles{
    margin-top: 20px;
}

.controles .botones .boton{
    width: 35px;
    height: 35px;
}
.controles .recuadros .color{
    display: flex;
    gap: 10px;
}
.controles .recuadros .rojo,
.controles .recuadros .azul{
    width: 75px;
    height: 10px;
}

.controles .recuadros .verde{    
    width: 150px;
    height: 70px;
}

.control .arriba,
.control .abajo{    
    width:25px;
    height:25px;
    
}
.control .ambos>div,
.control .ambos .centro div{
    width:25px;
    height:25px;
}
.info{
    width:95%;
    height: 85%;
}
.info .conte-tipos{
    width: 250px;
    height: 180px;
}
/* Contenedor de fotos de movimientos */

.conte-info .conte-movi .movimientos{
    width: 250px;
    height: 100px;
}
.conte-info .conte-movi .movimientos div{
    width:50px;
    height:50px;
}
.conte-movi .movimientos img{
    width:55px;
    height:55px;
}
}


@media (min-width:772px) and (max-width:1199px){
    section{
        width: 100%;
        height: 800px;
        padding: 0;    
    }
    .contenedor{
        width: 100%;
    }
.colores .azul{
    width: 50px;
    height: 50px;
}
.colores .azul div{
    width: 30px;
    height: 30px;
}
.azul div::before{
    height: 15px;
    width: 15px;
    top: 5px;
    left: 10px;
}
.rojo div,
.amarillo div,
.verde div{
    width: 18px;
    height: 18px;
}
.rojo div::before,
.amarillo div::before,
.verde div::before{
    width: 10px;
    height: 10px;
}
.colores .rojo,
.colores .amarillo,
.colores .verde{
    width: 35px;
    height: 35px;
}

/* Contenedor de en medio */
.medio{
    width: 14%;
}


/* contenedor del pokemon */
.contendor .pokemon{
    position: relative;
    width: 95%;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: auto;
    height:85%;
}

/* Este es el contenedor que tiene las img y h2 */
.contendor .conte-imgen{
    margin-top: 150px;
    width: 280px;
    height: 240px;
    position: relative;  
}


/* Contendor que tiene img de pokemon */
.contendor .conte-imgen .imgen{
    width: 230px;
    height: 160px;
}

.conte-imgen .imgen img{
    width: 155px;
    height: 140px;
    padding-bottom: 5px;
}

.contendor .conte-busca input,
.contendor .conte-busca button{
    padding: 8px 12px;
}
.contendor .conte-busca input{
    width: 120px;
}
.contendor .conte-busca button{    
    width: 70px;
    font-size: .8rem;
}



/* contenedor de controles */
.controles{
    margin-top: 20px;
}

.controles .recuadros .color{
    display: flex;
    gap: 10px;
}
.controles .recuadros .rojo,
.controles .recuadros .azul{
    width: 90px;
    height: 15px;
}

.controles .recuadros .verde{    
    width: 150px;
    height: 70px;
}


.info{
    width:95%;
    height: 85%;
}
.info .conte-tipos{
    width: 350px;
    height: 180px;
}
/* Contenedor de fotos de movimientos */

.conte-info .conte-movi .movimientos{
    width: 350px;
    height: 150px;
}
.conte-info .conte-movi .movimientos div{
    width:70px;
    height:75px;
}
.conte-movi .movimientos img{
    width:72px;
    height:72px;
}
}
